*{
    background-color: rgb(0,0, 0); 
}


.titulo{
    font-size: 6vh;
    color: white;
    display: flex;  
    justify-content: center;
    align-items: center;
}

.foto_perfil{
    margin-top: 5vh;
    border-radius: 20vh;
    width: 20%;
    margin-left: 10%;
}

.logo_github{
    height: 4%;
    width: 2%;
    border-radius: 10vh;
    
}

.sobre_mim{
    color: white;
    font-size: 4vh;
    margin-left: 10vh;
    margin-top: 10vh;
}

.texto{
    color: white;
    font-size: 2.3vh;
    margin-left: 10vh;
    margin-right: 10vh;
}

.ponto{
    font-size: 2.5vh;
    color: white;
}

.lista{
    color: white;
    margin-left: 10vh;
    font-size: 2.5vh;
}